
body{
    background-image: url(image/BackgroundImage.png);
    background-size:contain;
    background-repeat: no-repeat;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);

}

form{ 
    background-color: rgb(255, 255, 255);
    width: 600px; 
    margin: 50px auto; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
}
    
h1{ 
    text-align: left;  
    color: rgb(66, 66, 66);
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding: 20px;
    border-radius: 4px;

}

.headers { 
    background-color: rgb(236, 236, 236);
    text-align: left;  
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding: 20px;
    border-radius: 4px;
     

}

input{ 
    width: 83%; 
    padding: 10px; 
    margin: 5px 0; 
    box-sizing: border-box; 
    border: 2px solid rgb(247, 238, 238); 
    border-radius: 4px; 
    font-size: 16px; 
}


.inputFields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.inputFields label {
    width: 180px;      
    font-weight: bold;
}

.inputFields input {
    width: 450px;
}



span{
    float: right;
    font-size: 16px;
    color: rgb(66, 66, 66);
}

table{
    border:1;
    border-color: rgb(185, 184, 184);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: small;
    font-weight: 200;

}

caption{ 
    text-align: center;
    font-size:x-small; 
    font-size: 12px;      
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(66, 66, 66);
}

tr,td,th{
    border:1;
    border-color: rgb(185, 184, 184);
    padding: 10px;
    text-align: left;
}

p{ 
    margin: 10px 0;
    font-size: 16px; 
}
#Note{
    font-size: 13px;
    color: rgb(20, 19, 19);
    margin-top: 20px;
}

hr{
    border: 0;
    height: 1px;
    background-color: rgb(185, 184, 184);
    margin: 20px 0;
}

button{ 
    background-color: rgb(4, 58, 158); 
    color: rgb(250, 245, 245);
    border-radius: 5px;
    border: none; 
    padding: 9px 15px; 
    cursor: pointer; 
    font-size: 14px; 
    margin-top: 20px; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%);
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover{ 
    background-color: rgb(7, 79, 185); 
    color: rgb(250, 245, 245); 
    }

 @media (max-width: 768px) {

    form {
        width: 95%;
        margin: 20px auto;
        padding: 15px;
    }
}